html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(62,138,203,0.8);
  outline: 0;
}

input,
button {
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #d8ede4;
  font-family: "jaf-bernino-sans-condensed", sans-serif;
  letter-spacing: 0.15em;
  cursor: default;
}

body {
  overflow: hidden;
}

body[data-state='unsupported'] {
  overflow: auto;
}

#supported {
  width: 100%;
  height: 100%;
}

[data-state='unsupported'] #supported {
  display: none;
}

#unsupported {
  display: none;
  padding-bottom: 60px;
  text-align: center;
}

[data-state='unsupported'] #unsupported {
  display: block;
}

#unsupported h1 {
  padding: 60px 0 20px;
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.content {
  line-height: 1.6;
}

.content p {
  margin-bottom: 10px;
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
}

.content a {
  display: inline-block;
  height: 22px;
  vertical-align: baseline;
  position: relative;
}

.content a:after {
  display: block;
  position: absolute;
  content: "\00a0";
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-repeating-linear-gradient(left, #d8ede4 0%, #d8ede4, 25%, transparent 25%, transparent 100%);
  background-image: repeating-linear-gradient(to right, #d8ede4 0%, #d8ede4, 25%, transparent 25%, transparent 100%);
  background-position: right top;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}

.content a:hover:after {
  background: #d8ede4;
}

.content a:link,
.content a:visited,
.content a:active {
  color: #d8ede4 !important;
  text-decoration: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.1s;
  transition: visibility 0s linear 0.1s;
  background-image: -webkit-repeating-linear-gradient(left, #d8ede4 0%, #d8ede4, 12.5%, transparent 12.5%, transparent 100%);
  background-image: repeating-linear-gradient(to right, #d8ede4 0%, #d8ede4, 12.5%, transparent 12.5%, transparent 100%);
  background-position: right top;
  background-repeat: repeat-x;
  background-size: 8px 1px;
}

[data-state='loading'] .loading {
  visibility: visible;
}

.loading__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d8ede4;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title {
  position: absolute;
  height: 108px;
  width: 100%;
  top: 0;
  -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s, -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
}

[data-state='loading'] .title {
  -webkit-transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  transform: translateY(-100%) !important;
}

.title__wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 60px;
  margin-top: -30px;
  overflow: hidden;
}

.title__textA,
.title__textB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
}

.title__about {
  display: block;
  position: absolute;
  right: 30px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}

.title__about span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

[data-state='about'] .title__about span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.title__about:before,
.title__about:after {
  content: "\00a0";
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d8ede4;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.68, 0.33, 1);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.title__about:before {
  top: 0;
}

.title__about:after {
  bottom: 0;
}

.title__about:hover:before,
.title__about:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

[data-state='about'] .title__about:before,
[data-state='about'] .title__about:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

[data-state='about'] .title__about:before {
  -webkit-transform: translateY(30px) rotate(45deg) scaleX(1);
  -ms-transform: translateY(30px) rotate(45deg) scaleX(1);
  transform: translateY(30px) rotate(45deg) scaleX(1);
}

[data-state='about'] .title__about:after {
  -webkit-transform: translateY(-30px) rotate(-45deg) scaleX(1);
  -ms-transform: translateY(-30px) rotate(-45deg) scaleX(1);
  transform: translateY(-30px) rotate(-45deg) scaleX(1);
}

[data-state='about'] .title__about:hover:before {
  -webkit-transform: translateY(30px) rotate(45deg) scaleX(1.2);
  -ms-transform: translateY(30px) rotate(45deg) scaleX(1.2);
  transform: translateY(30px) rotate(45deg) scaleX(1.2);
}

[data-state='about'] .title__about:hover:after {
  -webkit-transform: translateY(-30px) rotate(-45deg) scaleX(1.2);
  -ms-transform: translateY(-30px) rotate(-45deg) scaleX(1.2);
  transform: translateY(-30px) rotate(-45deg) scaleX(1.2);
}

.display {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  padding-top: 42.395833333333336%;
  background: #000;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

.display__top,
.display__bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  z-index: 10;
}

.display__top {
  top: -100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.display__bottom {
  bottom: -100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

[data-state='loading'] .display__top {
  -webkit-transform: translateY(51%);
  -ms-transform: translateY(51%);
  transform: translateY(51%);
}

[data-state='loading'] .display__bottom {
  -webkit-transform: translateY(-51%);
  -ms-transform: translateY(-51%);
  transform: translateY(-51%);
}

[data-state='about'] .display__top {
  -webkit-transform: translateY(16px);
  -ms-transform: translateY(16px);
  transform: translateY(16px);
}

[data-state='about'] .display__bottom {
  -webkit-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
}

.display-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.32, 0, 0.17, 1);
}

[data-state='about'] .display-canvas {
  -webkit-filter: blur(6px) brightness(0.85);
          filter: blur(6px) brightness(0.85);
}

.display__about {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.32, 0, 0.17, 1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

[data-state='about'] .display__about {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}

.display__caption {
  margin-bottom: 19px;
}

.about__github {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+Cjx0aXRsZT5vY3RhY2F0PC90aXRsZT4KPHBhdGggZD0iTTIyMzIuNDUsNTg3YTE4LjQ2LDE4LjQ2LDAsMCwwLTUuODMsMzYsMC45MywwLjkzLDAsMCwwLDEuMjYtLjg5YzAtLjQ0LDAtMS42LDAtMy4xNC01LjEzLDEuMTItNi4yMi0yLjQ3LTYuMjItMi40N2E0Ljg5LDQuODksMCwwLDAtMi0yLjdjLTEuNjgtMS4xNS4xMy0xLjEyLDAuMTMtMS4xMmEzLjg4LDMuODgsMCwwLDEsMi44MywxLjksMy45MywzLjkzLDAsMCwwLDUuMzcsMS41MywzLjk0LDMuOTQsMCwwLDEsMS4xNy0yLjQ3Yy00LjEtLjQ3LTguNDEtMi04LjQxLTkuMTJhNy4xMyw3LjEzLDAsMCwxLDEuOS01LDYuNjQsNi42NCwwLDAsMSwuMTgtNC44OHMxLjU1LS41LDUuMDgsMS44OWExNy40OSwxNy40OSwwLDAsMSw5LjI0LDBjMy41Mi0yLjM5LDUuMDctMS44OSw1LjA3LTEuODlhNi42Myw2LjYzLDAsMCwxLC4xOCw0Ljg4LDcuMTIsNy4xMiwwLDAsMSwxLjksNWMwLDcuMDktNC4zMiw4LjY1LTguNDMsOS4xMWE0LjQsNC40LDAsMCwxLDEuMjUsMy40MmMwLDIuNDcsMCw0LjQ2LDAsNS4wNmEwLjkyLDAuOTIsMCwwLDAsMS4yNy44OUExOC40NiwxOC40NiwwLDAsMCwyMjMyLjQ1LDU4N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjEyIC01ODUpIiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojZmZmO3N0cm9rZS1taXRlcmxpbWl0OjEwO3N0cm9rZS13aWR0aDowLjgwMDAwMDAxMTkyMDkyOXB4O2ZpbGwtcnVsZTpldmVub2RkIi8+CjxyZWN0IHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgc3R5bGU9ImZpbGw6bm9uZSIvPgo8L3N2Zz4=');
  background-size: 100% 100%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.about__github:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}

.control {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 108px;
  -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s, -webkit-transform 1.2s cubic-bezier(0.02, 0.68, 0.33, 1) 0.6s;
}

[data-state='loading'] .control {
  -webkit-transform: translateY(100%) !important;
  -ms-transform: translateY(100%) !important;
  transform: translateY(100%) !important;
}

.control__sliders,
.control__keyboard {
  height: 100%;
  padding: 0 30px;
}

.control__sliders {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 500px;
}

.control__keyboard {
  width: 414px;
  box-sizing: content-box;
}

.control__keyboard-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 36px;
  padding-top: 3px;
}

.slider {
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}

.slider__name {
  width: 140px;
  float: left;
  padding-right: 20px;
  line-height: 36px;
  text-align: right;
}

.slider__ui {
  position: relative;
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 15px;
  margin: 11px 0 10px;
  border-left: 1px solid #d8ede4;
  border-right: 1px solid #d8ede4;
  cursor: col-resize;
}

.slider__ui * {
  position: absolute;
}

.slider__left,
.slider__right {
  top: 7px;
  height: 1px;
}

.slider__left {
  left: 0;
  width: 30%;
  background: #d8ede4;
}

.slider__right {
  right: 0;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(left, #d8ede4 0%, #d8ede4, 25%, transparent 25%, transparent 100%);
  background-image: repeating-linear-gradient(to right, #d8ede4 0%, #d8ede4, 25%, transparent 25%, transparent 100%);
  background-position: right top;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}

.slider__value {
  top: 7px;
  left: 10%;
  width: 5px;
  height: 5px;
  margin: -2px 0 0 -2px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDUiPgo8Y2lyY2xlIGN4PSIyLjUiIGN5PSIyLjUiIHI9IjIuNSIgc3R5bGU9ImZpbGw6I2ZmZiIvPgo8L3N2Zz4=');
  background-size: 5px 5px;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider__target {
  top: 7px;
  left: 10%;
  width: 31px;
  height: 31px;
  margin: -15px 0 0 -15px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSAxMSI+CjxjaXJjbGUgY3g9IjUuNSIgY3k9IjUuNSIgcj0iNC41IiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojZmZmO3N0cm9rZS1taXRlcmxpbWl0OjEwIi8+Cjwvc3ZnPg==');
  background-size: 11px 11px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.68, 0.33, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.68, 0.33, 1);
}

.slider__ui:hover .slider__target {
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.keybind {
  width: 56px;
  height: 26px;
  border-top: 1px solid #d8ede4;
  border-left: 1px solid #d8ede4;
}

.keybind.continuous {
  border-left: 1px solid transparent;
}

.keybind__label-wrapper {
  margin: 7px 6px 0 7px;
  height: 15px;
  overflow: hidden;
  -webkit-transition: all 0.05s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: all 0.05s cubic-bezier(0.02, 0.68, 0.33, 1);
}

.active .keybind__label-wrapper {
  background: #d8ede4;
  color: #000;
}

.keybind__label {
  height: 32px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: transform 0.4s cubic-bezier(0.02, 0.68, 0.33, 1);
  transition: transform 0.4s cubic-bezier(0.02, 0.68, 0.33, 1), -webkit-transform 0.4s cubic-bezier(0.02, 0.68, 0.33, 1);
}

.show-key .keybind__label {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.keybind:nth-child(2) .keybind__label {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.keybind:nth-child(3) .keybind__label {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.keybind:nth-child(4) .keybind__label {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.keybind:nth-child(5) .keybind__label {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.keybind__name,
.keybind__key {
  height: 16px;
  padding: 1px;
  line-height: 13px;
  font-size: 14px;
}

.keybind__key svg {
  height: 13px;
  margin-top: -1px;
}