@charset "utf-8";

@import "compass";

// ----------------------------------------
// Custom CSS

body {
	overflow: hidden;
	font-size: 12px;
	font-family: sans-serif;
}

button {
	border: 0;
	padding: 20px;
	background: black;
	color: white;

	&:hover {
		background: #333333;
	}
}

#canvas {
	width: 100%;
	height: 100%;
	background-color: #777;
}

#description {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
}

// ----------------------------------------
// Dat.gui

/*
https://github.com/liabru/dat-gui-light-theme
.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd !important;
}

.dg.main .close-button {
    background-color: #ccc !important;
}
 
.dg.main .close-button:hover {
    background-color: #ddd !important;
}

.dg {
    color: #555 !important;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa !important;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb !important;
}
 
.dg li:not(.folder) {
    background: #fafafa !important;
    border-bottom: 1px solid #ddd !important;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat !important;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff !important;
}
 
.dg .c input[type=text] {
    background: #e9e9e9 !important;
}
 
.dg .c input[type=text]:hover {
    background: #eee !important;
}
 
.dg .c input[type=text]:focus {
    background: #eee !important;
    color: #555 !important;
}
 
.dg .c .slider {
    background: #e9e9e9 !important;
}

.dg .c .slider:hover {
    background: #eee !important;
}
*/

.dg .c .hue-field {
	width: 13px !important;
}
