doctype html
head
	link(rel="stylesheet" type="text/css" href="./pure-min.css")
	link(rel="stylesheet" type="text/css" href="./style.css")
body
	canvas#main

	.current-polytope.control Test

	.exclusion-color.control
		button.pure-button(style='background-color:#000000;color:white') black
		button.pure-button(style='background-color:#C7ECCF') white
		//- button.pure-button(style='background-color:#DAAC1C') yellow
		//- button.pure-button(style='background-color:#C5434E') magenda
		//- button.pure-button(style='background-color:#3CD290') cyan

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='./lib/three.min.js')
	script(src='./lib/preloadjs-0.6.1.min.js')
	script(src='main.js')