doctype html
head
	link(rel="stylesheet" type="text/css" href="./style.css")
body
	canvas#main
	#split
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='./lib/three.min.js')
	script(src='./lib/preloadjs-0.6.1.min.js')
	script(src='main.js')
	script.
		require('electron-connect').client.create()